/* Carousel CSS goes here */
/*Carousel hero img*/
.carousel-inner > .item > img {
	max-width: inherit !important;
	min-width: 100%;
	min-height: initial;
}

.carousel-inner > .item > .banner2 {
	height: 350px;
}

* {
	outline: 1px solid orange;
}
/*.carousel-hero-area:before {
	background-color: #7C4A8B;
	opacity: .7;
}*/

.pannel1 {
	background-color: rgba(255, 114, 0, 0.7);
}

.banner1 {
	background: url('../../img/carousel1.jpg') right no-repeat;
}

.pannel2 {
	background-color: rgba(0, 159, 189, 0.7);
}

.banner2 {
	background: url('../../img/carousel2.jpg') right no-repeat;
}

.pannel3 {
	background-color: rgba(124, 74, 139, 0.6);
}

.banner3 {
	background: url('../../img/carousel3.jpg') right no-repeat;
}


.banner1, .banner2, .banner3 {
	background-size: cover;
	height: 350px !important;
	width: 100%;
}

/*Text over carousel images*/
.carousel-hero-area {
	height: 100%;
	width: 50%;
	z-index: 10;
	padding: 20px 10px 20px 0;
	position: absolute;
}

.carousel-hero-area .text  {
	color: #fff;
	font-family: Azbuka, Arial, Helvetica, sans-serif;
	z-index: 100;
	float: right;
	width: 400px;
}

.carousel-hero-area .text a {
	color: #fff;
}

.carousel-hero-area .text h2 {
	font-weight: 700;
}

.carousel .carousel-indicators {
	left: 21%;
}

/*bootstrap default indicators (removed)*/
.carousel-control.left,
.carousel-control.right {
	background-image: none !important;
}

.carousel .carousel-indicators li,  .carousel-indicators .active {
	width: 15px;
	height: 15px;
	margin: 0;
	margin-right: 3px; 
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
	display: none !important;
}

/*DESKTOP ONLY STYLES*/
@media only screen and (min-device-width : 736px) {

}

/*MOBILE ONLY STILES*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) { 


}
